.jumbotron{

background-color: antiquewhite;
color: black;
margin-top: 50px;
}

footer{
padding: 10px 10px 0 10px;
background-color:antiquewhite;
color: black;
margin-bottom: 0px;
margin-top: 50px;
}

.btn{


background-color:black;
color: whitesmoke;

}

address{color:black;



}

.card-hotel{

flex: 1 200px;
padding: 2px 5px 2px 5px;
margin-top: 10px;
}

.btn-reserva{
width: 100%;
border-radius: 0;

}

.footer-address-icon{


    padding-right: 10px;
 
}

.tab-content{
    padding-top: 10px;
}
