
@yellow: #fc03db;
 .margenes(@top: 0px, @bottom:0px){
    margin-top: @top;
    margin-bottom: @bottom;
}


.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(50px, 0px);
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @yellow;
  color: black;
  .margenes(10px, 0px);
 }

.btn {
  background-color: #720404;
  color: whitesmoke; }

address {
  color: black; }

.card-hotel {
  flex: 1 200px;
 .margenes(10px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
