.jumbotron {
  background-color: #fff000;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: antiquewhite;
  color: black;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn {
  background-color: #720404;
  color: whitesmoke;
}

address {
  color: black;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0;
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
